#root {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.logo {
  height: min(6em, 10vh);
  padding: min(1.5em, 2vh);
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover,
.logo.react:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-spin {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: min(2em, 3vh);
}

.read-the-docs {
  color: #888;
}

.resume-button {
  border: 2px solid blue;
  border-radius: 4px;
  padding: min(6px, 1vh) min(12px, 2vw);
}
